<%= render 'menu' %>

<div class='row'>
  <div class='column'>
    <%= image_tag("Banner", :class => 'style_banner') %>
  </div>
</div>

        <hr>
        <p>
          This is our group project for ITSC 3155. The web-application we engineered is a movie review website for horror films specifically.
          We created three models: a user, a movie, and a review, as well as implemented the sessions model. 
          This app has signup/login functionality, storing signup information and encrypting your password.
          Lastly, this group put much time and effort into this, and we are happy with our final product. 
          Enjoy!
        </p>
        
        <hr>
        &emsp;
        
         <% if Movie.any? == true %>
        <h1>Latest Movies</h1>
        <% last = Movie.last%>
        <% x = last.id %>
        <div class="row">
        <% for i in x.downto(x - 3) do %>
          <div class="column">
          <% movie = Movie.find(i) %>
            <%= link_to movie_poster(movie.id), movie_path(movie) %>
        </div>
        <% end %>
        </div>
        <% end %>
        
        <hr>
        &emsp;
        
        <% if Review.any? == true %>
        <h1>Latest Reviews</h1>
        <% last = Review.last%>
        <% x = last.id %>
          <div class="row">
          <% for i in x.downto(x - 2) do %>
            <% review = Review.find(i) %>
            <% movie = Movie.find_by_title(review.title) %>
            <div class="a_column">
              <p>
              <% user = User.find(review.user_id) %>
              <%= user_avatar(user.id) %> 
              </p>
          </div>
          <div class="cuttoff_column">
            <strong><%= link_to review.title, movie_path(movie) %></strong><br>
            <%= review.body %>
        </div>
        <% end %>
      </div>
      <% end %>
    </body>
    <%= render 'footer' %>
</html>

