<html>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "RATE MY SPOOK!", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Movies", '/movies' %></li>
        <% if logged_in? %>
              <li><%= link_to "Profile", current_user %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<h1>Welcome</h1>
        <p>
          This is our group project for ITSC 3155. The web-application we engineered is a movie review website for horror films specifically.
          We created three models: a user, a movie, and a review, as well as implemented the sessions model. 
          This app has signup/login functionality, storing signup information and encrypting your password.
          Lastly, this group put much time and effort into this, and we are happy with our final product. 
          Enjoy!
        </p>
    </body>
</html>
