<div class="menu">
            <%= image_tag("logo.png", class: "logo")%>
            <a href=/users/1>Reviews</a>
            <a href=/movies>Movies</a>
            <a href=/users>Users</a>
            <a href="/welcome/index">Home</a>
        </div>

<h1>Reviews posted</h1>
 
<% @user.reviews.each do |review| %>
  <h2>
    Review for:
    <%= review.title%>
  </h2>
 
 <p>
    <strong>Rating:</strong>
    <%= review.rating %>/10
  </p>
 
  <p>
    <strong>Review Date:</strong>
    <%= review.date %>
  </p>
 
  <p>
    <strong>Review:</strong>
    <%= review.body %>
  </p>

<% end %>