<div class="menu">
            <a href="/welcome/index">Home</a>
            <a href=/users>Users</a>
            <a href=/users/1>Reviews</a>
        </div>

<p>
  <strong>Username:</strong>
  <%= @user.name %>
</p>
 
<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>
<h2>Reviews</h2>
<% @user.reviews.each do |review| %>
  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>
 
  <p>
    <strong>Review:</strong>
    <%= review.body %>
  </p>
<% end %>

<h2>Add a review:</h2>
<%= form_for([@user, @user.reviews.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'User List', users_path %>