<div class="menu">
            <a href="/welcome/index">Home</a>
            <a href=/users>Users</a>
            <a href=/movies>Movies</a>
            <a href=/users/1>Reviews</a>
        </div>


 
<% @user.reviews.each do |review| %>
  <h1>
    <strong>Title:</strong>
    <%= review.title %>
  </h1>
 
 <p>
    <strong>Rating:</strong>
    <%= review.rating %> /10
  </p>
 
  <p>
    <strong>Release Date:</strong>
    <%= review.date %>
  </p>
 
  <p>
    <strong>Review:</strong>
    <%= review.body %>
  </p>
<% end %>

<p>
  <strong>Author:</strong>
  <%= @user.username %>
</p>

<h2>Add a review:</h2>
<%= form_for([@user, @user.reviews.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :body %>
  </p>
  
  <p>
    <%= f.label :rating %><br>
    <%= f.text_area :rating %>
  </p>
  
  <p>
    <%= f.label :date %><br>
    <%= f.text_area :date %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'User List', users_path %>