<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@movie) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :synopsis %>
      <%= f.text_field :synopsis %>

      <%= f.label :director %>
      <%= f.text_field :director %>

      <%= f.label "MA rating" %>
      <%= f.text_field :maRating %>
      
      <%= f.label "Release date" %>
      <%= f.text_field :releaseDate %>

      <%= f.submit "Add movie", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>