<%= render 'menu' %>
        
<h1>Listing movies</h1>
 
  <% @movies.each do |movie| %>
   
   <div class="row">
     <div class="column">
            <h1><%= movie.title %></h1>
            <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/71eWXnUxG3L._SL1500_.jpg", class: "styles_image")%>
        </div>
        <div class="column">
            <h3><%= movie.synopsis%></h3>
            <p><%= link_to "read more", movie_path(movie)%></p>
        </div>
        </div>
  <% end %>
  
   <h3><%= link_to 'New Movie', new_movie_path %></h3>