        <div class="menu">
            <%= image_tag("logo.png", class: "logo")%>
            <a href=/users/1>Reviews</a>
            <a href=/movies>Movies</a>
            <a href=/users>Users</a>
            <a href="/welcome/index">Home</a>
        </div>
        
<h1>Listing movies</h1>
 
 <%= link_to 'New Movie', new_movie_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Director</th>
    <th>Rating</th>
    <th>Release Date</th>
  </tr>
 
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.director %></td>
      <td><%= movie.maRating %></td>
      <td><%= movie.releaseDate %></td>
      <td><%= link_to 'Show', movie_path(movie) %></td>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      <td><%= link_to 'Destroy',
                                movie_path(movie),
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>