<%= render 'menu' %>
        
<h1>Movies</h1>

  <% @movies.each do |movie| %>
   
   <div class="row">
     <div class="column">
            <h1><%= movie.title %></h1>
            <%= movie_poster(movie.id) %>
        </div>
        <div class="column">
            <h3><%= movie.synopsis%></h3>
            <p><%= link_to "read more", movie_path(movie)%></p>
        </div>
        </div>
  <% end %>
  
    <h3><%= link_to 'Add a movie', new_movie_path %></h3>
   
