<%= render 'menu' %>
        
<h1>Movies</h1>

&emsp;

<div style="background-color: #d8d7d7; padding-left: 10px">
<h3>Highest Rated Movies</h3>
</div>
<div style="text-align: center; max-height: 350px; max-width: 1000px; overflow: auto;">
<table align= "center">
    <tr>
    <td colspan="4"></td>
  <% @movies.each do |movie| %>
      <% x = 0 %>
      <% movie.reviews.each do |review| %>
          <% x += review.rating %>
      <% end %>
      <% if x >= 9 %>
          <td><%= link_to movie_poster(movie.id), movie_path(movie) %></td>
    <% end %>
  <% end %>
  </tr>
  </table>
  </div>
  
  <hr>
  &emsp;
  
  
<% if Movie.find(26) %>
<div style="background-color: #d8d7d7; padding-left: 10px">
<h3>Rate My Spook! Favorites</h3>
</div>
 <div class="a_row">
   <div class="a_column">
      <%= image_tag"Check_Mark" %>
      <h3>From us to you, here are the movies we most enjoyed!</h3>
        </div>
        <div class="column">
          <div style="text-align: left; max-height: 350px; max-width: 758px; overflow: auto;">
        <table align= "center">
      <tr>
      <td colspan="4"></td>
          <td><a href= /movies/26><%= movie_poster(26) %></a></td>
          <td><a href= /movies/12><%= movie_poster(12) %></a></td>
          <td><a href= /movies/6><%= movie_poster(6) %></a></td>
          <td><a href= /movies/2><%= movie_poster(2) %></a></td>
          <td><a href= /movies/7><%= movie_poster(7) %></a></td>
          <td><a href= /movies/1><%= movie_poster(1) %></a></td>
    </tr>
    </table>
    </div>
  </div>
  </div>
  <% end %>
  
  <hr>
  &emsp;
  
<div style="background-color: #d8d7d7; padding-left: 10px">
<h3>All Movies</h3>
</div>
<div>
<table align= "center">
    
  <% @movies.each do |movie| %>
  <% if movie.id % 4 == 1 %>
  <tr>
    <% end %>
      <% x = 0 %>
      <% movie.reviews.each do |review| %>
          <% x += review.rating %>
      <% end %>
          <td><%= link_to movie_poster(movie.id), movie_path(movie) %></td>
  <% end %>
  </tr>
  </table>
  </div>
  
  &emsp;
  
    <div style= "text-align: center;">
    <%= link_to 'Add a movie', new_movie_path, class: "btn btn-primary" %>
   </div>
  
  &emsp;
  
<div style="background-color: #d8d7d7; padding-left: 10px">
<h3>Movie Listings</h3>
</div>
  <% @movies.each do |movie| %>
     <div class="row">
         <div class="column">
            <h3><%= movie.title %></h3>
            <%= link_to movie_poster(movie.id), movie_path(movie) %>
        </div>
    
        <div class="column">
            <br><br><br><br>
            <h4><%= movie.synopsis %></h4>
            <h4><strong>Directed by: </strong><%= movie.director %></h4>
            <h4><strong>Released: </strong><%= movie.releaseDate %></h4>
            <h4><strong>Rated: </strong><%= movie.maRating %></h4>
            <h4><%= link_to "read more", movie_path(movie)%></h4>
        </div>
    </div>
  <% end %>
  
  &emsp;
  
    <div style= "text-align: right;">
    <%= link_to 'Add a movie', new_movie_path, class: "btn btn-primary" %>
   </div>
   &emsp;
<%= render 'footer' %>