<%= render 'menu' %>

  <h1>
    <strong>Title:</strong>
    <%= @movie.title %>
  </h1>
  
    <h1>
    <%= movie_poster(@movie.id) %>
  </h1>
 
 <h4>
    <strong>Director:</strong>
    <%= @movie.director %> 
  </h4>
 
 <h4>
    <strong>Synopsis:</strong>
    <%= @movie.synopsis %> 
  </h4>
 
  <h4>
    <strong>Release date:</strong>
    <%= @movie.releaseDate %>
  </h4>
 
  <h4>
    <strong>MA Rating:</strong>
    <%= @movie.maRating %>
  </h4>
  
  <% if admin? %>
  <h4>
    <%= link_to 'Edit', edit_movie_path(@movie) %></td>
    <%= link_to 'Delete',
                  movie_path(@movie),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  </h4>
  <% end %>
  
  <br>
  <h2>Reviews:</h2>
  
  <% @movie.reviews.each do |review| %>

<div class="a_row">
     <div class="a_column">
        <p>
          <% user = User.find(review.user_id) %>
          <%= user_avatar(user.id) %> 
        </p>
      </div>
      <div class="a_column">
      <p>
        <strong>Author:</strong>
        <%= User.find_by_id(review.user_id).username%>
      </p>
 
       <p>
          <strong>Rating:</strong>
          <%= review.rating %> /10.0
        </p>
 
        <p>
          <strong>Review date:</strong>
          <%= review.date %>
        </p>
 
        <p>
          <strong>Review:</strong>
          <%= review.body %>
        </p>
        
        <% if admin? %>
      <p>
        <% user = User.find(review.user_id) %>
        <%= link_to 'Delete', [review.user, review],
          method: :delete, 
          data: {confirm: 'Are you sure?'} %>
      </p>
      <% end %>
      </div>
</div>

  <br>
  <br>

<% end %>

<h2>Add a review:</h2>
<%= form_for([@movie, @movie.reviews.build]) do |f| %>
  
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :body, placeholder: "Min: 5 characters" %>
  </p>
  
  <p>
    <%= f.label :rating %><br>
    <%= f.text_area :rating, placeholder: "Range: 0-10" %>
  </p>
  
  <p>
    <%= f.label :date %><br>
    <%= f.text_area :date, placeholder: "XX/XX/XXXX" %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= render 'footer' %>
