<%= render 'menu' %>

  <h1>
    <strong>Title:</strong>
    <%= @movie.title %>
  </h1>
  
    <h1>
    <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/71eWXnUxG3L._SL1500_.jpg", class: "styles_image") %>
  </h1>
 
 <h4>
    <strong>Director:</strong>
    <%= @movie.director %> 
  </h4>
 
 <h4>
    <strong>Synopsis:</strong>
    <%= @movie.synopsis %> 
  </h4>
 
  <h4>
    <strong>Release date:</strong>
    <%= @movie.releaseDate %>
  </h4>
 
  <h4>
    <strong>MA Rating:</strong>
    <%= @movie.maRating %>
  </h4>
  
  <h4>
    <%= link_to 'Edit', edit_movie_path(@movie) %></td>
    <%= link_to 'Destroy',
                  movie_path(@movie),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  </h4>
  
  <br>
  <h2>Reviews:</h2>
  
  <% @movie.reviews.each do |review| %>
<p>
  <strong>Author:</strong>
  <%= User.find_by_id(review.user_id).username%>
</p>
 
 <p>
    <strong>Rating:</strong>
    <%= review.rating %> /10.0
  </p>
 
  <p>
    <strong>Review date:</strong>
    <%= review.date %>
  </p>
 
  <p>
    <strong>Review:</strong>
    <%= review.body %>
  </p>

  <br>
  <br>
  
<% end %>

<h2>Add a review:</h2>
<%= form_for([@movie, @movie.reviews.build]) do |f| %>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :body %>
  </p>
  
  <p>
    <%= f.label :rating %><br>
    <%= f.text_area :rating %>
  </p>
  
  <p>
    <%= f.label :date %><br>
    <%= f.text_area :date %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
